<%= form_for(cylinder) do |f| %>
  <% if cylinder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cylinder.errors.count, "error") %> prohibited this cylinder from being saved:</h2>

      <ul>
      <% cylinder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pin %>
    <%= f.text_field :pin %>
  </div>

  <div class="field">
    <%= f.label :valve, 'Valve PIN' %>
    <%= f.text_field :valve %>
  </div>

  <div class="field">
    <%= f.label :production %>
    <%= f.date_select :production,
          :start_year => 1970,
          :end_year => 2030 %>
  </div>

  <div class="field">
    <%= f.label :gas %>
    <%= f.select :gas, ['Hydrogen', 'Helium', 'N2'] %>
  </div>

  <div class="field">
    <%= f.label :pressure, "Pressure (MPa)" %>
    <%= f.text_field :pressure %>
  </div>

  <div class="field">
    <%= f.label :project, "Project Number" %>
    <%= f.text_field :project %>
  </div>

  <div class="field">
    <%= f.label :vender, 'Vendor' %>
    <%= f.text_field :vender %>
  </div>

  <div class="field">
    <%= f.label :manufacturer %>
    <%= f.text_field :manufacturer %>
  </div>

  <div class="field">
    <%= f.label :agency %>
    <%= f.text_field :agency %>
  </div>

  <div class="field">
    <%= f.label :mac, 'MAC' %>
    <%= f.text_field :mac %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :user, :value => 'n/a' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
