<%-#= form_tag :controller => 'cylinder', :action => 'search' :method => 'post' do %>
<%-#= form_for(cylinder) do |f| %>
<%= form_tag("/search", method: "get") do %>
	<%= text_field_tag :search, params[:search], :id => 'search_field' %>
	<%= submit_tag "Search", :name => nil %> 
	<%-#= link_to_function "Clear", "$('search_field').clear()" %>
<% end %> 
