<p id="notice"><%= notice %></p>

<div class="headline">
<h1>Cylinders</h1>

<% if false %>

<%= render 'search', cylinder: @cylinder %>

<%# else %>

<div id="search">
  <%= render :partial => 'search' %>
</div>

<% end %>

<% if false %>

<ul>
  <% @grants.each do |grant| %>
<li><%= link_to grant.title, 
  :action => 'show', :id => grant.id  %></li>
<% end %>
</ul>

<% end %>

<p><%= link_to 'New Cylinder', new_cylinder_path %></p>
</div>

<br>
<br>
<br>
<br>
<br>

<div style="overflow: auto;">
<table>
  <thead>
    <tr>
      <th>PIN</th>
      <th>Valve #</th>
      <th>Production</th>
      <th>Gas</th>
      <th>Pressure</th>
      <th>Project #</th>
      <th>Vendor</th>
      <th>Manufacturer</th>
      <th>Agency</th>
      <th>User</th>
      <th>MAC</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cylinders.each do |cylinder| %>
      <tr>
        <td><%= cylinder.pin %></td>
        <td><%= cylinder.valve %></td>
        <td><%= cylinder.production %></td>
        <td><%= cylinder.gas %></td>
        <td><%= cylinder.pressure %></td>
        <td><%= cylinder.project %></td>
        <td><%= cylinder.vender %></td>
        <td><%= cylinder.manufacturer %></td>
        <td><%= cylinder.agency %></td>
        <td><%= cylinder.user %></td>
        <td><%= cylinder.mac %></td>
        <td><%= cylinder.location %></td>

        <td><%= link_to 'Info', cylinder %></td>
        <% if current_user.admin? or current_user.maintenance? or current_user.manufacturer? %>
        <td><%= link_to 'Edit', edit_cylinder_path(cylinder) %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Remove', cylinder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

