<p id="notice"><%= notice %></p>

<p>
  <strong>Pin:</strong>
  <%= @cylinder.pin %>
</p>

<p>
  <strong>Valve:</strong>
  <%= @cylinder.valve %>
</p>

<p>
  <strong>Production:</strong>
  <%= @cylinder.production %>
</p>

<p>
  <strong>Gas:</strong>
  <%= @cylinder.gas %>
</p>

<p>
  <strong>Pressure (MPa):</strong>
  <%= @cylinder.pressure %>
</p>

<p>
  <strong>Project:</strong>
  <%= @cylinder.project %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @cylinder.vender %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @cylinder.manufacturer %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @cylinder.agency %>
</p>

<p>
  <strong>MAC:</strong>
  <%= @cylinder.mac %>
</p>

<p>
  <strong>Location:</strong>
  <%= @cylinder.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @cylinder.user %>
</p>

<%= link_to 'Edit', edit_cylinder_path(@cylinder) %> |
<%= link_to 'Back', cylinders_path %>
