// Place all the styles related to the Cylinders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headline {
  h1, p {
    display: inline;
    vertical-align: top;
  }

  h1 {
  	float: left;
  }

  p {
    float: right;
  }
}

td a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

tr:hover {background-color: #f5f5f5;}
tr:nth-child(even){background-color: #f2f2f2;}

td, th {
	border: 1px solid #ddd;
	padding: 10px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #679EBA;
  color: white;
}

table {
	width:100%;
	//table-layout:fixed;
}
table tr { height:1em;  }
td { overflow:hidden;white-space:nowrap;  }


