
/* Display page for inspecting cylinders */

body {
	font-family: Lato;
	color: white;
	background-color: #ebdbb2;
}

form {
	margin-top: 30px;
	margin-left: 20px;
	width: 400px;
	padding: 20px 40px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

	color: #fff;
	background-color: #9ECB6C;
}

#search form span {
	width: 33%;
}

#search form input[type="text"] {
	margin-left: 20px;
	height: 25px;
	border: 0;
	color: white;
	background-color: #729156;
	text-align: center;
}

#search form input[type="submit"] {
	margin-left: 20px;
	width: 33%;
	border: 0;
	border-radius: 3px;
	color: white;
	background-color: #729156;
	cursor: pointer;
	transition: background 0.3s ease-in-out;

	height: 30px;
}

#search form input[type="submit"]:hover {
	background-color: #6c8a50;
}

table {
	border-spacing: 5px;
}

th, td {
	border: 1px solid white;
	padding: 10px;
}

.cylinder {
	width: 400px;
	background-color: #679EBA;
	margin-top: 40px;
	margin-left: 20px;

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

.cylinder:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cylinder h3 {
	padding: 25px 35px;
}

.cylinder table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}
