/* Styling for main (initial login) page */


/* Basics */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
body {
  margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
a {
  background-color: transparent;
  color: #ffffff;
}
a:active, a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}



/* Base styles */

html {
  /*color: #222;*/
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}



/* Custom styling */

html, body {
	height: 100%;
}

body {
	color: #ffffff;
}

html {
	background-color: #083f7b;
	font-family: 'Lato', 'Arial', sans-serif;
}

/*
.main-nav {
	float: right;
	margin: 15px 0 0;
	padding: 13px 0 0;
	display: block;
}

.main-nav ul {
	list-style: none;
}

.main-nav li {
	display: inline-block;
}

.main-nav a {
	text-decoration: none;
	padding: 0 21px;
}
*/

#container {
  min-height: 100%;
  position: relative;
}
header {
  text-align: left;
  padding: 1.8em 10% 1.8em 10%;
}
.header-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
	font-size: 8.2em;
	line-height: 1em;
	letter-spacing: -0.05em;
	margin: 0 0 .45em 0;
}
h2 {
  font-size: 2.63em;
  font-weight: 300;
  line-height: 1.25em;
  margin-bottom: 0.85em;
}
h3 {
  font-size: 1.3rem;
}
.tycoTagline {
	margin-top: 25px;
	font-size: .25em;
	line-height: 1em;
	letter-spacing: -0.02em;
	display:block;
	margin-bottom: 35px;
}
.login-area {
  text-align: left;
  padding: 3% 10% 6% 10%;
  padding-bottom: 130px;
}
.login-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.login-links.lower {
	padding-top: 30px;
}
.login-links.lower .link-block.left a {
	background: #91c4c7;
}
.login-links.lower .link-block.right a {
	background: #96c3e5;
}
.link-block {
  display: block;
  width: 49%;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
}
.link-block.left {
  float: left;
}
.link-block.left a {
	background:#96c3e5;
}
.link-block.right {
  float: right;
}
.link-block.right a {
  background: #91c4c7;
}
.rounded-button {
  display: block;
  color: #1E417C;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.5em;
  max-width: 300px;
  padding: 16px;
  text-align: center;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 10px;
  text-decoration: none;
}
a.rounded-button:hover {
  background: #FFFFFF;
}
.link-description {
  font-size: 1em;
  text-align: left;
}
footer {
  font-size: .85em;
  background: rgba(0, 0, 0, 0.8);
  padding: 1.25em 0;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 66px;
}
.copyright{
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  padding: 0 2em;
}
.footer-links {
  padding: 0 2em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.footer-links li:first-of-type {
  margin: 0 .5em 0 0;
}
.footer-links li:last-of-type(1) {
  margin: 0em 0em;
}
.footer-links li {
  display: inline;
  margin: 0em 0.5em;
}
.footer-links li a {
  color: #5987cb;
}
.footer-links li a:hover {
  color: #FFFFFF;
}


/* Expandable input forms */

input[type="checkbox"] {
  display: none;
  visibility: none;
}
label {
  display: block;
  text-align: center;

  background:#96c3e5;
  display: block;
  color: #1E417C;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.5em;
  max-width: 300px;
  padding: 16px;
  text-align: center;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 30px;
  text-decoration: none;
}
label::before {
  content: "";
  display: inline-block;
}
label:hover {
  background: #fff;
}
.expand {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
  color: #FFF;
}
#customers:checked ~ #c-expand {
  height: 400px;
}
#manufacturers:checked ~ #mu-expand {
  height: 400px;
}
#maintenance:checked ~ #ma-expand {
  height: 400px;
}
#employees:checked ~ #t-expand {
  height: 400px;
}


/* Helper classes */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}

