<h2>Tyco International</h2>
<h5>Inventory Management</h5>
<% if not signed_in? %>
<p><%= link_to "Sign In", login_path %></p>
<% else %>
<p><%= link_to "View your Inventory", cylinders_url %></p>
<p><%= link_to "Manage Account", edit_path %></p>
<% end %>
